<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <img src="/image/<%= idchitiet.hinhanh %>" alt="" style="height: 100px;" width="100px" >
    <li><%= idchitiet.tensp %></li>
    <li><%= idchitiet.giasp %></li>
    <li><%= idchitiet.chitietsp %></li>
    <a href="/list-sanpham">Quay lại</a>
</body>

</html>