<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Document</title>
</head>

<body>
  <div style="border: 2px solid black;padding: 20px;
  width: 500px;
  box-shadow: 5px 10px 8px #888888;
  margin-left: 35%;
  margin-top: 10%;
  border-radius: 7px;">
  <h2 style="display:flex; justify-content: center;">ĐĂNG NHẬP</h2>
    <form style="margin-left: 19%; " action="/authLogin" method="post">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input style="width: 300px;" type="text" class="form-control" id="exampleInputEmail1" name="username">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input style="width: 300px;" type="password" class="form-control" id="exampleInputPassword1" name="password">
      </div>
      <button style="width: 300px; font-weight: 700; margin-bottom: 20px; font-size: 20px;" type="submit" class="btn btn-primary">Đăng nhập</button>
    </form>
  </div>
</body>

</html>