<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/authLogin" method="post">
    <div class="mb-3 row">
      <label for="staticEmail" class="col-sm-2 col-form-label">username</label>
      <div class="col-sm-10">
        <input type="text" class="form-control-plaintext" name="username" id="staticEmail" >
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" name="password" id="inputPassword">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</body>
</html>
