<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <%- include('header') %>

        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên</th>
                    <th>Tài khoản</th>
                    <th>Giới tính</th>
                    <th>Email</th>
                    <th>Địa chỉ</th>
                    <th>Quyền</th>
                    <th>Cấu hình</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Nguyễn Văn A</td>
                    <td>nva</td>
                    <td>Nam</td>
                    <td>nva@gmail.com</td>
                    <td>Cần Thơ</td>
                    <td>Uer</td>
                    <td><i class="fa-solid fa-eye"></i>
                        <i class="fa-regular fa-pen-to-square"></i>
                        <i class="fa-solid fa-trash"></i>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Trần Thị B</td>
                    <td>ttb</td>
                    <td>Nữ</td>
                    <td>ttb@gmail.com</td>
                    <td>Tiền Giang</td>
                    <td>Admin</td>
                    <td><i class="fa-solid fa-eye"></i>
                        <i class="fa-regular fa-pen-to-square"></i>
                        <i class="fa-solid fa-trash"></i>
                    </td>
                </tr>

            </tbody>
        </table>

        <div style="position: fixed;
                    left: 0;
                    bottom: 0;
                    width: 100%;">
            <%- include('footer') %>
        </div>
</body>

</html>